aside {
    background: #004A8C;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height:100%;
    font-size: 100%;
    line-height: 90%;
    text-align: center;
}
aside div {
    margin-top:10% ;
    font-family: "Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
}
main {
    width: 80%;
    margin: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 20%;
    right: 0;
    font-family: 'Lato', sans-serif;
}
.nagrada {
    display: inline-block;
    width: 45%;
    background: white;
    padding: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid #e4e4e4;
    
}
a {
    text-decoration: none;
    color: white;
}